
@using MMHDemo.Web.Areas.App.Models.Common.Modals
@using MMHDemo.Web.Areas.App.Models.Emp1s
@model Emp1ViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="Emp1InformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Emp1.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Roll") :</h6>
                @Model.Emp1.Roll
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Email") :</h6>
                @Model.Emp1.Email
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

