@using System.Threading.Tasks
@using MMHDemo.Web.Areas.App.Startup
@model MMHDemo.Web.Controllers.IndexViewModel
@using MMHDemo.personInfo
@using MMHDemo.Authorization

@{
    ViewBag.CurrentPageName = AppPageNames.Host.PhoneBook;
}

@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/PhoneBook/_CreatePersonModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/PhoneBook/Index.js" asp-append-version="true"></script>
    </environment>
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/App/Views/PhoneBook/Index.css" asp-append-version="true" />
    </environment>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("PhoneBook")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @*@L("PhoneBookInfo")*@
                </span>
            </div>
        </div>
    </div>
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="col-xs-6 text-right">
            <button id="CreateNewPersonButton" class="btn btn-primary"><i class="fa fa-plus"></i> @L("CreateNewPerson")</button>
        </div>

        <div class="portlet light">
            <div class="portlet-body">

                <h3>@L("AllPeople")</h3>

                <div id="AllPeopleList" class="list-group">
                    @foreach (var person in Model.Items)
                    {
                        <a href="javascript:;" class="list-group-item" data-person-id="@person.Id">
                            <h4 class="list-group-item-heading">
                                @person.Name @person.Surname
                                @if (IsGranted(AppPermissions.Pages_Tenant_PhoneBook_DeletePerson))
                                {
                                   <p align="right">
                                    <button title="@L("Delete")" class="btn btn-circle btn-icon-only btn-danger delete-person" href="javascript:;">
                                        <i class="la la-trash"></i>
                                    </button>
                                   </p>
                                }
</h4>
                            <p class="list-group-item-text">
                                @person.EmailAddress
                            </p>
                        </a>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


